
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

  <h1>Приложение блокнот</h1>
<p>
  Date {{message}}
</p>
<div>
  <h3>Time: {{message1}} </h3>

  <button *ngIf="isCollapsed" (click)="myClick($event)">Узнать правила </button>
  <button *ngIf="!isCollapsed" (click)="myClick($event)">Скрыть правила</button>
  <div>
    <p *ngIf="!isCollapsed">Правила пользования :.......</p>

  </div>

  <input type="text"[(ngModel)] ="text" placeholder="Введите то что хотите узнать">



  <button *ngIf="isCollapsed2" (click)="myClick2($event)">Хочу добавить</button>
  <button *ngIf="!isCollapsed2" (click)="myClick2($event)">Хочу добавиhbiть</button>


  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Цели</th>
      <th scope="col">Выполнение</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of items; let i = index;
let first =first; let last = last;" [ngClass]="{first:first, last:last}">
      <td>
        {{i+1}}
      </td>
      <td>
        {{text}}
      </td>
      <td> <input type="checkbox" [(ngModel)]="item.checkboxState"  value="10000">
      </td>
    </tr>

    </tbody>

  </table>



  <div class="checkbox">
    <p *ngFor="let item of items; let i = index;
let first =first; let last = last;" [ngClass]="{first:first, last:last}">
      {{i+1}}{{item.text}}
      <input type="checkbox" [(ngModel)]="item.checkboxState"  value="10000">

    </p>
  </div>

</div>




<div *ngIf="isCollapsed2; else loggedIn">Вы добавили слово в блокнот</div>

<div>
    <ng-template #loggedIn>
      Вы не добовляли слова в блокнот
    </ng-template>
      <h1>Картины:</h1>
</div>





