ul{
  list-style-type: none;
  padding-left: 0;
  font-size: large;
}
ul li {
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  border: lightGrey 3px solid;
}
ul li:hover{
  background-color: lightGrey;
}
