<app-date></app-date>
Имя: <input type="text" [(ngModel)]="useName">
<button (click)="search()">Найти</button>
<div *ngIf="response">
  <img src="{{response.avatar_url}}" alt="">
</div>

<h1>Садовая рубрика</h1>
<h2>{{plant.name}}</h2>
<p>{{plant.description}}</p>
<p>{{plant.price}}</p>

<!--<form>
  <p>Название:<input type="text" [(ngModel)]="temp.name" name="name"></p>
  <p>Описание:<input type="text" [(ngModel)]="temp.description" name="description"></p>
  <p>Цена:<input type="text" [(ngModel)]="temp.price" name="price" ></p>
  <p><input type="submit" value="Сохранить" (click)="save()">
  <input type="button" value="Отмена" (click)="cancel()"></p>
</form>-->
<ul>
  <li *ngFor="let plant of plants" (click)="detail.plant = plant">{{plant.name}}</li>
</ul>
<app-plant-detail #detail></app-plant-detail>
